{% extends 'base.html.twig' %}

{% block title %}Nos véhicules{% endblock %}

{% block body %}
<h1 class="text-center mb-5">Nos véhicules</h1>

<div class="row d-flex justify-content-center gap-3">
    {% for item in vehicules %}
        {% if vehicules <= 0 %}
            <p>Il n'y a pas de véhicules en location</p>
        {% else %}
            <div class="card col-md-3">
                <div class="card-body">
                    <h5 class="card-title">{{ item.modele.marque.nom }} {{ item.modele.nom }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">À partir de</h6>
                    <p class="card-text">
                        {{ item.prix }} € / jour
                    </p>
                    <a href={{ path('vehicule', { id : item.id }) }} class="card-link btn btn-outline-primary">Voir la fiche</a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
